<div class="jumbotron"></div>
<div class="container-fluid container-fixed-lg ">
	<h3>Edit Desk Supply</h3>
</div>
<div class="container-fluid container-fixed-lg">
	<div class="row">
		<%= render 'form' %>
	</div>
</div>