<div class='row'>
	<div class='col-md-12'>
		<h2><b> Novo funcionário </b></h2>
	</div>
</div>
<hr />
<div class='row'>
	<div class='col-md-12'>
		<div class='panel'>
			<div class='panel-body'>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>