        <div id="home" class="home" data-scroll-index="0"></div>
        <header>
            <div class="container b-header__box b-relative">
                <a href="/" class="b-left b-logo"><img  class="color-theme" data-retina src="img/logo-header-default.png" alt="Logo" /></a>
                <div class="b-header-r b-right b-header-r--icon">
                    <div class="b-top-nav-show-slide f-top-nav-show-slide b-right j-top-nav-show-slide"><i class="fa fa-align-justify"></i></div>
                    <nav class="b-top-nav f-top-nav b-right j-top-nav navbar-example" id="myNavbar">
                        <ul class="b-top-nav__1level_wrap">
                            <li class="b-top-nav__1level f-top-nav__1level f-primary-b" data-scroll-nav="0">
                                <a href="#home">Home</a>
                            </li>
                            <li class="b-top-nav__1level f-top-nav__1level f-primary-b" data-scroll-nav="1">
                                <a href="#slogan">Sobre Nós</a>
                            </li>
                            <li class="b-top-nav__1level f-top-nav__1level f-primary-b" data-scroll-nav="2">
                                <a href="#works">Trabalhos</a>
                            </li>
                            <li class="b-top-nav__1level f-top-nav__1level f-primary-b" data-scroll-nav="6">
                                <a href="#map">Entre em Contato</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>