<%= render 'site_nav' %>
<div class="l-main-container">
<div class="l-inner-page-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="b-article-box">
                    <div class="f-article_title f-primary-l b-title-b-hr">
                        Áreas de Atuação
                    </div>
                    <div class="b-article__description">
                        <p>Pendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis. </p>
                        <blockquote class="b-blockquote--primary b-diagonal-line-bg-light f-blockquote--primary f-primary-it">
                            <i class="fa fa-quote-left b-left b-blockquote__icon f-blockquote__icon"></i>
                            <div class="b-remaining">
                                Morbi aliquam fringilla nisl. Pellentesque eleifend condimentum tellus, vel vulputate tortor malesuada sit amet. Aliquam vel vestibulum metus. Aenean ut mi auctor, bibendum urna vitae, semper leo. In dolor sem, adipiscing id rhoncus ut, tempus id purus. Sed porttitor, sem id pellentesque ultrices, dolor diam ornare lorem, non feugiat tortor eros vitae arcu.
                            </div>
                        </blockquote>
                        <p>Nullam accumsan nec justo in bibendum. Aliquam in dui eget enim lobortis porta. Nullam quis ligula ut nunc tristique sollicitudin a sit amet enim. In urna odio, convallis quis diam eu, tincidunt fermentum lacus. Nam sit amet risus tincidunt, ultricies urna dapibus, vulputate libero. <span class="f-selection">Nulla pharetra diam mauris</span>, id tempor lectus gravida vel. Maecenas pharetra purus mauris, nec suscipit risus consequat eget. Phasellus pulvinar euismod dui eget tempus. Suspendisse gravida mi ac nunc lacinia aliquet in eget elit. Phasellus in consequat odio, sit amet sodales enim. Maecenas molestie semper turpis, et venenatis quam feugiat gravida. Donec sit amet velit sollicitudin, malesuada sapien quis, tempor lectus.</p>
                        <p>Duis volutpat dignissim magna, in facilisis urna condimentum pretium. Maecenas sollicitudin elit diam, a auctor tellus mattis eget. Quisque vitae risus sit amet mi venenatis posuere eu eget quam. Vivamus faucibus vel quam nec lacinia. Vivamus hendrerit sem dolor, id elementum enim dictum ut. Suspendisse tincidunt in nisi nec consequat. Curabitur ut molestie sem, in faucibus augue. Phasellus sed congue nibh. Mauris vel dolor mi. Suspendisse rhoncus mi sed scelerisque porta. Donec quis nisi in mi consequat blandit. Sed et imperdiet leo. Cras aliquet mauris enim, a aliquet quam vehicula vel. Cras porttitor ligula non diam vestibulum, eget hendrerit justo convallis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%= render 'footer' %>