    <div class="b-slidercontainer b-slider">
        <div class="j-fullscreenslider j-arr-hide">
            <ul>
                <li data-transition="" data-slotamount="17" >
                    <div class="tp-bannertimer"></div>
                    <img data-retina src="img/slider/section-bg-3.jpg">
                    <div class="caption lft caption-left"  data-x="left" data-y="150" data-hoffset="60" data-speed="700" data-start="2000">
                        <div class="b-slider-lg-info-l__item-title f-slider-lg-info-l__item-title b-slider-lg-info-l__item-title-tertiary b-bg-slider-lg-info-l__item-title">
                            <h2 class="f-primary-l">Henz Construtora</h2>
                            <h1 class="f-primary-b">Profissionais de qualidade</h1>
                        </div>
                    </div>
                    <div class="caption lfl caption-left"  data-x="left" data-y="270" data-speed="1000" data-start="2600">
                        <div class="b-slider-lg-info-l__item-link f-slider-lg-info-l__item-link">
                            <a href="#" class="b-slider-lg-info-l__item-anchor f-slider-lg-info-l__item-anchor f-primary-b">Entre em contato conosco</a>
                            <span class="b-slider-lg-info-l__item-link-after"><i class="fa fa-chevron-right"></i></span>
                        </div>
                    </div>
                </li>
                <li data-transition="slotfade-vertical" data-slotamount="7" >
                    <div class="tp-bannertimer"></div>
                    <img data-retina src="img/slider/section-bg-4.jpg">
                    <div class="caption lft caption-left"  data-x="left" data-y="150" data-hoffset="60" data-speed="700" data-start="2000">
                        <div class="b-slider-lg-info-l__item-title f-slider-lg-info-l__item-title b-slider-lg-info-l__item-title-tertiary b-bg-slider-lg-info-l__item-title">
                            <h2 class="f-primary-l">Grandes obras</h2>
                            <h1 class="f-primary-b">Conservação de Rodovias</h1>
                        </div>
                    </div>
                    <div class="caption lfl caption-left"  data-x="left" data-y="270" data-speed="1000" data-start="2600">
                        <div class="b-slider-lg-info-l__item-link f-slider-lg-info-l__item-link">
                            <a href="#" class="b-slider-lg-info-l__item-anchor f-slider-lg-info-l__item-anchor f-primary-b">Contratação Imediata</a>
                            <span class="b-slider-lg-info-l__item-link-after"><i class="fa fa-chevron-right"></i></span>
                        </div>
                    </div>
                </li>
                <li data-transition="slotfade-vertical" data-slotamount="7" >
                    <div class="tp-bannertimer"></div>
                    <img data-retina src="img/slider/section-bg-5.jpg">
                    <div class="caption lft caption-left"  data-x="left" data-y="150" data-hoffset="60" data-speed="700" data-start="2000">
                        <div class="b-slider-lg-info-l__item-title f-slider-lg-info-l__item-title b-slider-lg-info-l__item-title-tertiary">
                            <h2 class="f-primary-l">Seu projeto</h2>
                            <h1 class="f-primary-b">entregue com excelência</h1>
                        </div>
                    </div>
                    <div class="caption lfl caption-left"  data-x="left" data-y="270" data-speed="1000" data-start="2600">
                        <div class="b-slider-lg-info-l__item-link f-slider-lg-info-l__item-link">
                            <a href="#" class="b-slider-lg-info-l__item-anchor f-slider-lg-info-l__item-anchor f-primary-b">Entre em contato</a>
                            <span class="b-slider-lg-info-l__item-link-after"><i class="fa fa-chevron-right"></i></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="b-page-over">
        <section class="b-infoblock f-center b-diagonal-line-bg-light" data-scroll-index="1">
            <div class="container">
                <h2 class="f-primary-b"><strong>Henz Construtora</strong></h2>
                <p class="b-desc-section f-desc-section f-secondary-l f-small">Sólida experiência, com garantia que sua obra seja realizada com elevada qualidade</p>
                <div class="b-hr-stars f-hr-stars container">
                    <div class="b-hr-stars__group">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="b-some-examples f-some-examples b-some-examples-secondary f-some-examples-secondary f-secondary row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="b-some-examples__item b-bg-transparent f-some-examples__item">
                            <div class="b-some-examples__item_img view view-sixth">
                                <!-- <a href="#"> --><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/homepage/example_1.jpg" alt=""/><!-- </a> -->
                            </div>
                            <div class="b-some-examples__item_info">
                                <div class="b-some-examples__item_info_level b-some-examples__item_name f-some-examples__item_name f-primary-b"><a href="#">Quem somos??</a></div>
                                <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description">
                                    A HENZ Construções e Incorporações, com sólida experiência no mercado de conservação de Rodovias,
                                    Construções em geral e locações de máquinas e equipamentos, com uma vasta equipe de profissionais
                                    qualificados, tais como: arquitetos, engenheiros e técnicos para assegurar que os projetos sejam executados
                                    da melhor forma possível.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="b-some-examples__item b-bg-transparent f-some-examples__item">
                            <div class="b-some-examples__item_img view view-sixth">
                                <img class="j-data-element" data-animate="fadeInDown" data-retina src="img/homepage/example_2.jpg" alt=""/>
                            </div>
                            <div class="b-some-examples__item_info">
                                <div class="b-some-examples__item_info_level b-some-examples__item_name f-some-examples__item_name f-primary-b"><a href="#">O que fazemos?</a></div>
                                <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description">
                                    Na HENZ Construções e Incorporações, o cliente tme a garantia que sua obra seja realizada com excelência e elevada qualidade.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="b-some-examples__item b-bg-transparent f-some-examples__item">
                            <div class="b-some-examples__item_img view view-sixth">
                                <img class="j-data-element" data-animate="fadeInDown" data-retina src="img/homepage/example_3.jpg" alt=""/>
                            </div>
                            <div class="b-some-examples__item_info">
                                <div class="b-some-examples__item_info_level b-some-examples__item_name f-some-examples__item_name f-primary-b"><a href="#">Nossas Metas?</a></div>
                                <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description">
                                    Nossa missão é sempre fazer o melhor; desde o projeto, até a entrega da obra, cada detalhe é importante para se alcançar um resultado acima do esperado.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="b-bg-block f-bg-block person b-bg-block-girl parallax-section-bg" data-type="background" data-speed="300">
            <div class="container f-center b-bg-block__person">
                <div class="avatar">
                    <img data-retina class="fade-in-animate" src="img/users/photo.jpg" alt="" />
                </div>
                <p class="name">Rafael Oliveira</p>
                <p class="quote">"A melhor empresa com que tive contato. Profissionais de qualidade, responsabilidade, entrosamento entre toda a equipe, projetos bem concluídos. Esses são alguns pontos no qual me orgulho da empresa onde trabalho."</p>
            </div>
        </section>
        <section class="b-our-works f-center" id="works" data-scroll-index="2">
            <div class="container">
                <div class="b-category-filter f-category-filter f-center j-filter">
                    <h2 class="f-primary-b"><strong>Nosso Trabalho</strong></h2>
                    <ul class="list-unstyled selected-rectangle f-uppercase">
                        <li class="is-category-filter-active"><a data-filter="all" href="#">Tudo</a></li>
                        <li><a data-filter=".j-filter-manutencao" href="#">Manutenção</a></li>
                        <li><a data-filter=".j-filter-obra" href="#">Obra Civil</a></li>
                    </ul>
                </div>
                <div class="j-filter-content">
                    <div class="j-masonry">
                        <div class="masonry-gridSizer cols-xs-12 col-sm-6 col-md-4 col-lg-4"></div>
                        <div class="j-masonry-item j-filter-manutencao cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/MANUTENCAO_VEGETAL_2.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">MANUTENÇÃO VEGETAL
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Manutenção</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-masonry-item j-filter-obra cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_RIP_RAP_2.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">CONTENÇÃO RIP RAP
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Obra Civil</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-masonry-item j-filter-manutencao cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/MANUTENCAO_VEGETAL_3.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">MANUTENÇÃO VEGETAL
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Manutenção</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-masonry-item j-filter-obra cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_NEWJERSEY.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">CONTENÇÃO NEWJERSEY
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Obra Civil</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-masonry-item j-filter-obra cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_NEWJERSEY2.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">CONTENÇÃO NEWJERSEY
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Obra Civil</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-masonry-item j-filter-manutencao cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/MANUTENCAO_E_PINTURA_DE_PONTE.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">MANUTENÇÃO E PINTURA DE PONTE
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Manutenção</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="j-masonry-item j-filter-obra cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_RIP_RAP_3.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">CONTENÇÃO RIP RAP
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Obra Civil</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-masonry-item j-filter-obra cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/OBRA_CIVIL_DE_REPARO_DE_GUARDA-CORPO_EM_PONTE_3.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">REPARO DE PONTE
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Obra Civil</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="j-masonry-item j-filter-obra cols-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="b-our-works__item j-item-hover-action b-item-hover-action-parent">
                                <div class="b-our-works__item_image">
                                    <img data-retina src="img/homepage/our_works/OBRA_CIVIL_RECOMPOSICAO_DE_MEIO-FIO.jpg" alt=""/>
                                </div>
                                <div class="b-our-works__item_hover b-item-hover-action">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-bottom">
                                            <div class="b-item-hover-action__inner-bottom-title f-primary-b">REPARO DE MEIO-FIO
                                            </div>
                                            <div class="b-item-hover-action__inner-bottom-desc">Obra Civil</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="b-infoblock b-diagonal-line-bg-light">
        <div class="container f-center">
            <h2 class="f-primary-b"><strong>Nossos Parceiros</strong></h2>
            <div class="b-carousel-reset b-carousel-arr-out b-carousel-small-arr f-carousel-small-arr b-remaining">
                <div class="f-center b-logo-group j-logo-slider">
                    <div class="b-logo-item"><a href="http://www.portonovosa.com/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/1p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/1.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="http://www.petrobras.com.br/pt/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/2p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/2.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="http://odebrecht.com/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/3p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/3.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="http://www.crt.com.br/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/4p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/4.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="http://www.dnit.gov.br/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/5p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/5.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="http://www.crt.com.br/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/6p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/6.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="http://www.concer.com.br/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/7p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/7.png" alt=""/>
                    </a></div>
                    <div class="b-logo-item"><a href="http://www.novadutra.com.br/" target="_BLANK">
                        <img class="is-normal" src="img/slider/partner/8p.png" alt=""/>
                        <img class="is-hover" src="img/slider/partner/8.png" alt=""/>
                    </a></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="is-fixed-container" id="slider">
            <div class="b-slider-primary" data-fixed_top>
                <div>

                    <div class="b-slider-primary-item f-slider-primary-item parallax-section-bg">
                        <div class="container">
                            <div class="f-slider-primary-item__title b-slider-primary-item__title f-primary-b">
                                <i class="fa fa-road"></i><br/>
                                <span><b>@henz</b></span>
                            </div>
                            <p class="b-slider-primary-item__text f-slider-primary-item__text f-primary-l">A HENZ tem o compromisso com a plena satisfação dos seus clientes e se destaca pela qualidade, seriedade e comprometimento com cada obra executada.<br/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    <!-- 			<div class="b-page-over">
                                    <section class="b-infoblock b-diagonal-line-bg-light" id="blog" data-scroll-index="3">
                                            <div class="container">
                                                    <h2 class="f-primary-b f-center"><strong>Nossas Notícias</strong></h2>
                                                    <p class="b-infoblock-description f-desc-section f-center">Vivamus ac ultrices diam, vitae accumsan tellus. Integer sollicitudin vulputate lacus, congue vulputate nisl eleifend in. </p>
                                                    <div class="b-app-with-img row">
                                                            <div class="col-sm-4 col-xs-12">
                                                                    <div class="b-app-with-img__item">
                                                                            <div class="b-app-with-img__item_img view view-sixth">
                                                                                    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/homepage/app_1.jpg" alt=""/></a>
                                                                                    <div class="b-item-hover-action f-center mask">
                                                                                            <div class="b-item-hover-action__inner">
                                                                                                    <div class="b-item-hover-action__inner-btn_group">
                                                                                                            <a href="img/homepage/big/app_1.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Mobile games" rel="group2"><i class="fa fa-arrows-alt"></i></a>
                                                                                                            <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                                                                    </div>
                                                                                            </div>
                                                                                    </div>
                                                                            </div>
                                                                            <div class="b-app-with-img__item_text f-center">
                                                                                    <div class="b-app-with-img__item_name f-app-with-img__item_name f-primary-b"><a href="portfolio_our_portfolio_detail.html">Mobile games</a></div>
                                                                                    <div class="b-app-with-img__item_info f-app-with-img__item_info f-primary">Mobile Design, 3D Graphic</div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <div class="col-sm-4 col-xs-12">
                                                                    <div class="b-app-with-img__item">
                                                                            <div class="b-app-with-img__item_img view view-sixth">
                                                                                    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/homepage/app_2.jpg" alt=""/></a>
                                                                                    <div class="b-item-hover-action f-center mask">
                                                                                            <div class="b-item-hover-action__inner">
                                                                                                    <div class="b-item-hover-action__inner-btn_group">
                                                                                                            <a href="img/homepage/big/app_2.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Character design" rel="group2"><i class="fa fa-arrows-alt"></i></a>
                                                                                                            <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                                                                    </div>
                                                                                            </div>
                                                                                    </div>
                                                                            </div>
                                                                            <div class="b-app-with-img__item_text f-center">
                                                                                    <div class="b-app-with-img__item_name f-app-with-img__item_name f-primary-b"><a href="portfolio_our_portfolio_detail.html">Character design</a></div>
                                                                                    <div class="b-app-with-img__item_info f-app-with-img__item_info f-primary">Mobile Design, 3D Graphic</div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <div class="col-sm-4 col-xs-12">
                                                                    <div class="b-app-with-img__item">
                                                                            <div class="b-app-with-img__item_img view view-sixth">
                                                                                    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/homepage/app_3.jpg" alt=""/></a>
                                                                                    <div class="b-item-hover-action f-center mask">
                                                                                            <div class="b-item-hover-action__inner">
                                                                                                    <div class="b-item-hover-action__inner-btn_group">
                                                                                                            <a href="img/homepage/big/app_3.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="branding design" rel="group2"><i class="fa fa-arrows-alt"></i></a>
                                                                                                            <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                                                                    </div>
                                                                                            </div>
                                                                                    </div>
                                                                            </div>
                                                                            <div class="b-app-with-img__item_text f-center">
                                                                                    <div class="b-app-with-img__item_name f-app-with-img__item_name f-primary-b"><a href="portfolio_our_portfolio_detail.html">branding design</a></div>
                                                                                    <div class="b-app-with-img__item_info f-app-with-img__item_info f-primary">Brading Design / 2D Designs</div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                            </div>
                                    </section>
                                </div> -->
    <!-- <div class="b-page-over">
            <section class="b-diagonal-line-bg-light b-infoblock--without-padding" id="team" data-scroll-index="5">
                    <div class="b-employee">
                            <div class="container">
                                    <h2 class="f-center f-primary-b">Equipe</h2>
                                    <p class="b-infoblock-description f-desc-section f-center f-employee__desc">Vivamus ac ultrices diam, vitae accumsan tellus. Integer sollicitudin vulputate lacus, congue vulputate nisl eleifend in.</p>
                                    <div class="b-hr-stars f-hr-stars container">
                                            <div class="b-hr-stars__group">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                            </div>
                                    </div>
                                    <div class="b-employee-container row">
                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="b-employee-item b-employee-item--color f-employee-item">
                                                            <div class=" view view-sixth">
                                                                    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/users/user1.jpg" alt=""/></a>
                                                                    <div class="b-item-hover-action f-center mask">
                                                                            <div class="b-item-hover-action__inner">
                                                                                    <div class="b-item-hover-action__inner-btn_group">
                                                                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <h4 class="f-primary-b">João França</h4>
                                                            <div class="b-employee-item__position f-employee-item__position">Engenheiro</div>
                                                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                                                            <div class="b-employee-item__social">
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="b-employee-item b-employee-item--color f-employee-item">
                                                            <div class=" view view-sixth">
                                                                    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/users/user2.jpg" alt=""/></a>
                                                                    <div class="b-item-hover-action f-center mask">
                                                                            <div class="b-item-hover-action__inner">
                                                                                    <div class="b-item-hover-action__inner-btn_group">
                                                                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <h4 class="f-primary-b">Clara Maria</h4>
                                                            <div class="b-employee-item__position f-employee-item__position">Recursos Humanos</div>
                                                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                                                            <div class="b-employee-item__social">
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="b-employee-item b-employee-item--color f-employee-item">
                                                            <div class=" view view-sixth">
                                                                    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/users/user3.jpg" alt=""/></a>
                                                                    <div class="b-item-hover-action f-center mask">
                                                                            <div class="b-item-hover-action__inner">
                                                                                    <div class="b-item-hover-action__inner-btn_group">
                                                                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <h4 class="f-primary-b">Graça Gloria</h4>
                                                            <div class="b-employee-item__position f-employee-item__position">Assessoria</div>
                                                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                                                            <div class="b-employee-item__social">
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm">
                                                    <div class="b-employee-item b-employee-item--color f-employee-item">
                                                            <div class=" view view-sixth">
                                                                    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/users/user4.jpg" alt=""/></a>
                                                                    <div class="b-item-hover-action f-center mask">
                                                                            <div class="b-item-hover-action__inner">
                                                                                    <div class="b-item-hover-action__inner-btn_group">
                                                                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                                                    </div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <h4 class="f-primary-b">Marcos Santos</h4>
                                                            <div class="b-employee-item__position f-employee-item__position">Gerente</div>
                                                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                                                            <div class="b-employee-item__social">
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                                                    <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                                                            </div>
                                                    </div>
                                            </div>
                                    </div>

                            </div>
                    </div>
            </section>
        </div> -->
        <div class="is-fixed-container" id="map" data-scroll-index="6">
            <section class="b-google-map b-google-map--fix-height map-theme" data-fixed_top>
                <div class="b-google-map__map-view b-google-map__map-height">
                    <!-- Google map load -->
                </div>
                <img data-retina src="img/google-map-marker-default.png" data-label="" class="marker-template hidden" />
                <div class="b-google-map__info-window-template hidden" data-selected-marker="0" data-width="526">
                    <div class="b-google-map__info-window col-xs-12">
                        <div class="col-lg-7 col-xs-12 b-google-map__info-window-address">
                            <ul class="list-unstyled">
                                <li class="col-xs-12">
                                    <div class="b-google-map__info-window-address-icon f-center pull-left">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div>
                                        <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                        Escritório MATRIZ RJ
                                        </div>
                                        <div class="desc">Rua Polineia 822,Sala 101 – Quadra 4 CEP 25255-390 - Duque de Caxias - RJ</div>
                                    </div>
                                </li>
                                <li class="col-xs-12">
                                    <div class="b-google-map__info-window-address-icon f-center pull-left">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div>
                                        <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                            Telefone de Contato
                                        </div>
                                        <div class="desc">(61) 1234-5678</div>
                                    </div>
                                </li>
                                <li class="col-xs-12">
                                    <div class="b-google-map__info-window-address-icon f-center pull-left">
                                        <i class="fa fa-skype"></i>
                                    </div>
                                    <div>
                                        <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                            Skype
                                        </div>
                                        <div class="desc">Em Breve</div>
                                    </div>
                                </li>
                                <li class="col-xs-12">
                                    <div class="b-google-map__info-window-address-icon f-center pull-left">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div>
                                        <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                            E-mail
                                        </div>
                                        <div class="desc">Em Breve</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 b-google-map__info-window-image hidden-xs hidden-sm hidden-md">
                            <img data-retina src="img/google-map-sskyscrapper.png" style="width: 218px; height: 243px;" alt=""/>
                        </div>
                    </div>
                </div>
            </section>
        </div>
