<%= render 'site_nav' %>
<div class="j-menu-container"></div>
<div class="l-main-container">
	<div class="container">
		<h3>Mapa de Obras 2015</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Contratante</th>
					<th>Contrato</th>
					<th>Inicio</th>
					<th>Termino</th>
					<th>Serviço</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>CONCESSIONARIA AUTO RAPOSO TAVARES - CART</td>
					<td>11.116/2014</td>
					<td> - </td>
					<td> - </td>
					<td>CONSERVAÇÃO E MANUTENÇÃO</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA AUTO RAPOSO TAVARES - CART</td>
					<td>11.117/2014</td>
					<td> - </td>
					<td> - </td>
					<td>CONSERVAÇÃO E MANUTENÇÃO</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA AUTO RAPOSO TAVARES - CART</td>
					<td>11.128/2014</td>
					<td> - </td>
					<td> - </td>
					<td>CONSERVAÇÃO E MANUTENÇÃO</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA AUTO RAPOSO TAVARES - CART</td>
					<td>11.129/2014</td>
					<td> - </td>
					<td> - </td>
					<td>CONSERVAÇÃO E MANUTENÇÃO</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA AUTO RAPOSO TAVARES - CART</td>
					<td>11.140/2014</td>
					<td> - </td>
					<td> - </td>
					<td>RECUPERAÇÃO DE PASSIVOS AMBIENTAIS</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA AUTO RAPOSO TAVARES - CART</td>
					<td>11.133/2014</td>
					<td> - </td>
					<td> - </td>
					<td>IMPLANTAÇÃO DE CALBOX</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA RIO TERESOPOLIS S/A - CRT</td>
					<td>11.476/2014</td>
					<td>15/03/2014</td>
					<td>15/04/2015</td>
					<td>LOCAÇÃO DE CAMINHOES</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA RIO TERESOPOLIS S/A - CRT</td>
					<td>11.493/2014</td>
					<td>02/05/2014</td>
					<td>01/06/2015</td>
					<td>CONSERVA E MANUTENÇÃO</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA RIO TERESOPOLIS S/A - CRT</td>
					<td>11.506/2014</td>
					<td> - </td>
					<td> - </td>
					<td>RECONSTRUÇÃO DE PLACAS</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA RIO TERESOPOLIS S/A - CRT</td>
					<td>11.556/2014</td>
					<td> - </td>
					<td> - </td>
					<td>LOCAÇÃO DE ESVACADEIRA</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA RIO TERESOPOLIS S/A - CRT</td>
					<td>11.557/2014</td>
					<td> - </td>
					<td> - </td>
					<td>LOCAÇÃO DE CARRETA PRANCHA</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA RIO TERESOPOLIS S/A - CRT</td>
					<td>11.606/2015</td>
					<td> - </td>
					<td> - </td>
					<td>EXECUÇÃO DE DRENO, TERRAPLANAGEM E OUTROS</td>
				</tr>
				<tr>
					<td>CONCEBRA - CONCESSIONARIA DAS RODOVIAS CENTRAIS DO BRASIL S/A </td>
					<td>020013/2015</td>
					<td>13/02/2015</td>
					<td>13/02/2016</td>
					<td>CONSERVAÇÃO DE ROTINA</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA BR 040 S/A</td>
					<td>11.036/2014</td>
					<td> - </td>
					<td> - </td>
					<td>CONSERVA DE ROTINA</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA BR 040 S/A</td>
					<td>11.137/2014</td>
					<td> - </td>
					<td> - </td>
					<td>CONSERVA DE ROTINA</td>
				</tr>
				<tr>
					<td>CONCESSIONARIA BR 040 S/A</td>
					<td>11.155/2014</td>
					<td> - </td>
					<td> - </td>
					<td>CONSTRUÇÃO DE NEW JERSEY</td>
				</tr>
				<tr>
					<td>FUNDO DE AREENDAMENTO RESIDENCIAL - FAR - RECIFE</td>
					<td>405549-96/2013</td>
					<td> - </td>
					<td> - </td>
					<td>MINHA CASA MINHA VIDA</td>
				</tr>
				<tr>
					<td>CONSORCIO NOVA SUBIDA DA SERRA-CNSS</td>
					<td>CNSS-277/2014</td>
					<td> - </td>
					<td> - </td>
					<td>EXECUÇÃO DE ENCHIMENTO DE TERRAMESH E GABIÃO DAS ESTACAS</td>
				</tr>
				<tr>
					<td>CONSORCIO NOVA SUBIDA DA SERRA-CNSS</td>
					<td>CNSS 264/2014</td>
					<td> - </td>
					<td> - </td>
					<td>EXECUÇÃO DE BARREIRAS TIPO NEW JERSEY DUPLA</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<%= render 'footer' %>