    <div class="page-sidebar" data-pages="sidebar">
      <div id="appMenu" class="sidebar-overlay-slide from-top">
      </div>
      <!-- BEGIN SIDEBAR HEADER -->
      <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
          <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR HEADER -->
      <!-- BEGIN SIDEBAR MENU -->
      <div class="sidebar-menu">
        <ul class="menu-items">
          <li class="m-t-30">
            <a href="#" class="detailed">
              <span class="title">Page 1</span>
              <span class="details">234 notifications</span>
            </a>
            <span class="icon-thumbnail "><i class="pg-mail"></i></span>
          </li>
          <li class="">
            <a href="javascript:;">
              <span class="title">Vehicles</span>
              <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-grid"></i></span>
            <ul class="sub-menu">
             <li class="">
              <a href="./vehicles">General</a>
              <span class="icon-thumbnail">GN</span>
            </li>
            <li class="">
              <a href="./vehicle_consumptions">Consumption</a>
              <span class="icon-thumbnail">CS</span>
            </li>
            <li class="">
              <a href="./vehicle_services">Services</a>
              <span class="icon-thumbnail">SV</span>
            </li>
            <li class="">
              <a href="./vehicle_types">Type</a>
              <span class="icon-thumbnail">TP</span>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="javascript:;">
            <span class="title">Costs/Payments</span>
            <span class=" arrow"></span>
          </a>
          <span class="icon-thumbnail"><i class="pg-grid"></i></span>
          <ul class="sub-menu">
           <li class="">
            <a href="./payment">Payment</a>
            <span class="icon-thumbnail">PM</span>
          </li>
          <li class="">
            <a href="./costs">Costs</a>
            <span class="icon-thumbnail">CT</span>
          </li>
          <li class="">
            <a href="./benefits">Benefits</a>
            <span class="icon-thumbnail">BF</span>
          </li>
          <li class="">
            <a href="./payment_types">Payment Types</a>
            <span class="icon-thumbnail">PT</span>
          </li>
        </ul>
      </li>
      <li >
        <a href="./desk_supplies" >
          <span class="title">Desk Supplies</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
      <li >
        <a href="./providers" >
          <span class="title">Providers</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
    <li >
        <a href="./footholds" >
          <span class="title">FootHold</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
      <li >
        <a href="./works" >
          <span class="title">Works</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
      <li >
        <a href="./affiliates" >
          <span class="title">Affiliates</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
      <li >
        <a href="./jobs" >
          <span class="title">Jobs</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
      <li >
        <a href="./sectors" >
          <span class="title">Sectors</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</div>